@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gunmetal-50: #f5f8f7;
    --gunmetal-100: #e0e7e6;
    --gunmetal-200: #c0cfcc;
    --gunmetal-300: #99afab;
    --gunmetal-400: #738e8a;
    --gunmetal-500: #59736f;
    --gunmetal-600: #465b58;
    --gunmetal-700: #3a4b49;
    --gunmetal-800: #313e3d;
    --gunmetal-900: #2e3837;
    --gunmetal-950: #161d1d;

    --moonstone-50: #f0f9fb;
    --moonstone-100: #d9eff4;
    --moonstone-200: #b8e1e9;
    --moonstone-300: #87c9d9;
    --moonstone-400: #5db1c6;
    --moonstone-500: #338ea7;
    --moonstone-600: #2d748d;
    --moonstone-700: #2b5f73;
    --moonstone-800: #2a4f60;
    --moonstone-900: #274352;
    --moonstone-950: #152b37;

    --sandy-brown-50: #fef7ee;
    --sandy-brown-100: #fdedd7;
    --sandy-brown-200: #f9d7af;
    --sandy-brown-300: #f5b97c;
    --sandy-brown-400: #f09247;
    --sandy-brown-500: #ec7423;
    --sandy-brown-600: #dd5b19;
    --sandy-brown-700: #b84416;
    --sandy-brown-800: #92371a;
    --sandy-brown-900: #762f18;
    --sandy-brown-950: #40160a;

    --old-rose-50: #faf5f6;
    --old-rose-100: #f6edef;
    --old-rose-200: #eddde1;
    --old-rose-300: #e0c1c8;
    --old-rose-400: #cc9aa5;
    --old-rose-500: #b26c79;
    --old-rose-600: #a45e67;
    --old-rose-700: #8b4b52;
    --old-rose-800: #744045;
    --old-rose-900: #62393c;
    --old-rose-950: #3a1d20;

    --gunmetal: var(--gunmetal-500);
    --moonstone: var(--moonstone-500);
    --sandy-brown: var(--sandy-brown-400);
    --old-rose: var(--old-rose-500);

    --background: var(--gunmetal-50);
    --foreground: var(--gunmetal-900);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply bg-gradient-to-br from-gunmetal-200 to-gunmetal-300 dark:from-gunmetal-600 dark:to-gunmetal-800;
  }
}
